<mat-toolbar color="primary" class="mat-elevation-z4">
  <!-- Logo y título -->
  <span class="logo">My App</span>

  <!-- Menú desplegable en pantallas pequeñas -->
  <button
    mat-icon-button
    class="menu-button"
    [matMenuTriggerFor]="menu"
    *matMenuTrigger="shouldShowMenu ? null : false"
    aria-label="Toggle menu"
    aria-haspopup="true"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" (closed)="onMenuClosed()">
    <mat-list>
      <a
        mat-list-item
        *ngFor="let item of menuItems"
        [routerLink]="item.link"
      >
        {{ item.name }}
      </a>
    </mat-list>
  </mat-menu>

  <!-- Menú principal en pantallas grandes -->
  <nav class="main-menu">
    <a
      mat-button
      *ngFor="let item of menuItems"
      [routerLink]="item.link"
      routerLinkActive="active"
    >
      {{ item.name }}
    </a>
    <a mat-button [matMenuTriggerFor]="ejemplos" >Ejemplos</a>
    <mat-menu #ejemplos="matMenu">
      <a
        mat-menu-item
        *ngFor="let item of ejemplosItems"
        [routerLink]="item.link"
        routerLinkActive="active"
      >
        {{ item.name }}
      </a>
    </mat-menu>
  </nav>
</mat-toolbar>
