<div>
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/buttons" routerLinkActive="active">Botones</a></li>
    <li><a routerLink="/cards" routerLinkActive="active">Cards</a></li>
    <li><a routerLink="/mymenu" routerLinkActive="active">My Menu</a></li>
    <li><a routerLink="/myform" routerLinkActive="active">My Form</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/matmenu" routerLinkActive="active">Mat Menu</a></li>
    <li><a routerLink="/topmatmenu" routerLinkActive="active">Top Mat Menu</a></li>
  </ul>
</div>
